@model IEnumerable<Tienda.Models.Pedidos>
@using Tienda.Views.Shared;

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">@BotonesResource.Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Username)
            </td>
            <td>               
                <a asp-action="Details" asp-route-id="@item.Id">@BotonesResource.Detalles</a> |
                <a asp-action="Cancelar" asp-route-id="@item.Id">@BotonesResource.Cancelar</a>
            </td>
        </tr>
}
    </tbody>
</table>
